{% extends "base.html" %}
{% load static %}
{% block content %}
<title> home Template</title>
{% block base_head %}
  <link rel='stylesheet' href= '{% static "css/main.css" %}'>
{% endblock %}
<div class="text-center">
    {{ title }}
    <h1>Your Favourite  Style In one place</h1>
  </div>
  
    <div class='row'>
     <div class='col'>
       <img src="{% static 'img/shop.jpg' %}" class="img-fluid" />
       <p>
      {{ content}}
       </p>
      </div>
     </div>
   
    {% if request.user.is_authenticated %}
      <div class="row">
      <div class="col">
        <h1>premium</h1>
            <p>{{ premium_content}} </p>
      </div>
    {% endif %}
  </div>

{% endblock %}

