{% extends "base.html" %}


{% block content %}
<div class='container'>
<ul class="list-group list-group-flush">
  <li class="list-group-item">Cart Items: {% for product in object.cart.products.all %}{{ product }}{% if not forloop.last %}, {% endif %}{% endfor %}</li>
  <li class="list-group-item">Shipping Address: {{ object.shipping_address }}</li>
  <li class="list-group-item">Shipping Total: {{ object.shipping_total }}</li>
  <li class="list-group-item">Order Status {{object.status}}</li>
  <li class="list-group-item">Order Total: {{ object.total }}</li>
</ul>
{% if object.status == 'Created' %}<br>
<a class='btn btn-success' href="{% url 'carts:OrderDelete' object.id %}" class="card-link">Delete</a>
<a class='btn btn-info' href="{% url 'carts:home' %}" class="card-link">Edit</a>{%endif%}</div>
{% endblock %}