{% extends 'base.html'%}
{% block content%}
<!DOCTYPE html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>

<body>

 <strong class="text-danger">This is Not Commerical site Don't Pay anyThing ,This is Educational site we are not responsible for any money Transactions</strong>

  <script
    src="https://www.paypal.com/sdk/js?client-id=AcPOcNCbqa2vzYmWe84VFwONMRHvrx7HKfKsWPQZLsdk8JfGW6CTz58cXEjS9xDAILeS-eE1oaoVTAph">
  </script>
   <div id="paypal-button-container"></div>
  <script>
  paypal.Buttons({
    createOrder: function(data, actions) {
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: '0.01'
          }
        }]
      });
    },
    onApprove: function(data, actions) {
      return actions.order.capture().then(function(details) {
        alert('Transaction completed by ' + details.payer.name.given_name);
        // Call your server to save the transaction
        return fetch('/paypal-transaction-complete', {
          method: 'post',
          headers: {
            'content-type': 'application/json'
          },
          body: JSON.stringify({
            orderID: data.orderID
          })
        });
      });
    }
  }).render('#paypal-button-container');
</script>


</body>
{% endblock %}
 
