{% extends "base.html" %}
{% load static %}{% load crispy_forms_tags %}
{% block content %}
<h1>Login</h1>
  {% for message in messages %}

                    <div class="alert alert-success">
                        <a class="close" href="#" data-dismiss="alert">×</a>

                        {{ message }}

                    </div>
            {% endfor %}
	<form method="POST" action="{% url 'login'%}">
		{% csrf_token %}
		{{ form|crispy }}
		 <input type="submit" value="login"class='btn btn-primary'>
   		  <input type="hidden" value="{% if request.REQUEST.next %}{{ request.REQUEST.next }}{% else %}{% if request.META.HTTP_REFERER %}{{ request.META.HTTP_REFERER }}{% else %}/{% endif %}{% endif %}" name="next" />

{% endblock%}