
{% extends "base.html"%}{% load crispy_forms_tags %}
{% block content %}

  <div class="text-center">
    {{ title }}
    <h1>You Can Contact Us on HotLine 19 9 19</h1>
    </div>
   
    <div class='row'>
    <div class='col'>
    <p>{{ content}}</p>
    
    <div class='col-sm-6 col-12'>
        <form method="POST">
         {% csrf_token %}
         {{ form|crispy }} <br>
          <button type='Submit' class="btn btn-primary">Submit</button>
        
    </form>
    
    </div>
    </div>
    </div> 
{% endblock%}


